<h1> Welcom to the 99cats </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Color</th>
      <th>Sex</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @cat.name %></td>
      <td><%= @cat.birth_date%></td>
      <td><%= @cat.color %></td>
      <td><%= @cat.sex %></td>
      <td><%= @cat.description %></td>
    </tr>
  </tbody>
</table>
